<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rework</title>
    <link rel="stylesheet" href="styles.css">

</head>
<body>

<div class="container">
    <div class="searchbar">
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">Who We Are</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Mailing List</a></li>
            <li><a href="#">Contact Us</a></li>
            <li class="advertise"><a href="#">Money GRRRR</a></li>

        </ul>



    </div>
    <div class="header">header goes here</div>
    <div class="sliderNav">



    </div>
    <div class="pic">IMG <HERE></HERE></div>
    <div class="cardHolder">

        <div class="midcard">A Card</div>
        <div class="midcard">A Card</div>
        <div class="midcard">A Card</div>

    </div>




</body>
</html>